<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puffit</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">Puffit</div>
        <nav class="header-menu">
            <ul>
                <li><a href="#tabacco-content" id="tabacco-tab">タバコ</a></li>
                <li><a href="#shisha-content" id="shisha-tab">シーシャ</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <!-- タバコのコンテンツ-->
        <section id="tabacco-content">
            <h1 class="mainly-contents">タバコ</h1>
            <h3>タバコの評価を新規登録</h3>
            <h3>評価一覧</h3>
        </section>
        <!-- シーシャのコンテンツ-->
        <section id="shisha-content">
            <h1 class="mainly-contents">シーシャ</h1>
            <h3>シーシャの評価を新規登録</h3>
            <button id="toggle-form">フォームを表示/非表示</button>
            <form id="shisha-form" style="display: none;">
                <label for="flavor-type">フレーバーのカテゴリ</label>
                <select id="flavor-type" name="flavor-type">
                    <!-- JavaScriptで選択肢を動的に追加 -->
                </select>

                <label for="flavor-name">フレーバーの名前</label>
                <select id="flavor-name" name="flavor-name">
                    <!-- JavaScriptで選択肢を動的に追加 -->
                </select>

                <label for="flavor-rating">評価</label>
                <div id="star-rating">
                    <span class="star" data-value="1">☆</span>
                    <span class="star" data-value="2">☆</span>
                    <span class="star" data-value="3">☆</span>
                    <span class="star" data-value="4">☆</span>
                    <span class="star" data-value="5">☆</span>
                </div>
                <input type="hidden" id="flavor-rating" name="flavor-rating">

                <label for="flavor-comment">コメント</label>
                <textarea id="flavor-comment" name="flavor-comment"></textarea>

                <input type="submit" value="登録">
            </form>
            <h3>評価一覧</h3>
            <ul id="flavor-list"></ul>
        </section>
    </div>
    <div class="footer">

    </div>
    <script src="../static/script.js"></script>
</body>
</html>
